@tailwind base;
@tailwind components;
@tailwind utilities;

/* Settings Start */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gradient-primary {
    background: linear-gradient(
        90deg,
        rgba(255, 190, 52, 1) 0%,
        rgba(255, 218, 86, 1) 50%,
        rgba(255, 215, 166, 1) 100%
    );
}

h1 {
    @apply text-headingColor font-bold  text-[30px] md:text-[50px] leading-[133.2%];
}
h2 {
    @apply text-headingColor font-semibold text-[40px] leading-[133.2%];
}
h3 {
    @apply text-headingColor font-medium text-[35px] leading-normal;
}
h4 {
    @apply text-headingColor font-medium text-[30px] leading-[129.7%];
}
h5 {
    @apply text-headingColor font-medium text-[25px] leading-[129.7%];
}
h6 {
    @apply text-headingColor font-normal text-[20px] leading-[129.7%];
}

p {
    @apply text-paragraphColor font-normal text-[16px] leading-[151.5%];
}

li {
    @apply text-paragraphColor leading-[166.52%] font-normal;
}

blockquote {
    @apply italic text-[20px] text-white;
}

.container {
    @apply max-w-[1366px] mx-auto px-[25px];
}

.linear {
    background: linear-gradient(
        94deg,
        #ffb629 -1.21%,
        #ffda56 58.66%,
        #ffd7a6 116.84%
    );
}

.blackOverlay {
    background: linear-gradient(
        0deg,
        #091242 14.34%,
        rgba(60, 60, 60, 0) 43.86%
    );
    background-blend-mode: multiply;
}

/* Settings End */

/* Banner & Header Start */

.banner {
    background-image: url(../assets/images/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutHeader {
    background-image: linear-gradient(
            90deg,
            rgba(4, 28, 55, 1) 0%,
            rgba(4, 28, 55, 0.196516106442577) 53%,
            rgba(4, 28, 55, 0.196516106442577) 83%,
            rgba(255, 218, 86, 0) 100%
        ),
        url("https://res.cloudinary.com/dzlrpspps/image/upload/v1697689930/Projects/transflow/airplane_kermmc.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.servicesHeader {
    background-image: linear-gradient(
            90deg,
            rgba(4, 28, 55, 1) 0%,
            rgba(4, 28, 55, 0.196516106442577) 53%,
            rgba(4, 28, 55, 0.196516106442577) 83%,
            rgba(255, 218, 86, 0) 100%
        ),
        url("https://res.cloudinary.com/dzlrpspps/image/upload/v1697689938/Projects/transflow/truck_abtl8m.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.singleServicesHeader {
    background-image: linear-gradient(
            90deg,
            rgba(4, 28, 55, 1) 0%,
            rgba(4, 28, 55, 0.196516106442577) 53%,
            rgba(4, 28, 55, 0.196516106442577) 83%,
            rgba(255, 218, 86, 0) 100%
        ),
        url("https://res.cloudinary.com/dzlrpspps/image/upload/v1697689905/Projects/transflow/container_lrhroy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.galleryHeader {
    background-image: linear-gradient(
            90deg,
            rgba(4, 28, 55, 1) 0%,
            rgba(4, 28, 55, 0.196516106442577) 53%,
            rgba(4, 28, 55, 0.196516106442577) 83%,
            rgba(255, 218, 86, 0) 100%
        ),
        url("https://res.cloudinary.com/dzlrpspps/image/upload/v1697689906/Projects/transflow/airplaneLanded_g74rhr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.warehouseTransportation {
    background-image: linear-gradient(
            90deg,
            rgba(4, 28, 55, 1) 0%,
            rgba(4, 28, 55, 0.196516106442577) 53%,
            rgba(4, 28, 55, 0.196516106442577) 83%,
            rgba(255, 218, 86, 0) 100%
        ),
        url("https://res.cloudinary.com/dzlrpspps/image/upload/v1697689933/Projects/transflow/truckNight_quwxjj.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pricingHeader {
    background-image: linear-gradient(
            90deg,
            rgba(4, 28, 55, 1) 0%,
            rgba(4, 28, 55, 0.196516106442577) 53%,
            rgba(4, 28, 55, 0.196516106442577) 83%,
            rgba(255, 218, 86, 0) 100%
        ),
        url("https://res.cloudinary.com/dzlrpspps/image/upload/v1697976676/Projects/transflow/Photo_8_pjtwuj.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Banner & Header END */

.containerImage {
    background-image: linear-gradient(
            0deg,
            rgba(4, 28, 55, 0.5718662464985995) 0%,
            rgba(4, 28, 55, 0.196516106442577) 60%,
            rgba(4, 28, 55, 0.196516106442577) 89%,
            rgba(255, 218, 86, 0) 100%
        ),
        url("https://res.cloudinary.com/dzlrpspps/image/upload/v1697703953/Projects/transflow/Photo_4_fsk5da.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pricing_list {
    list-style: none;
    margin-left: auto;
    padding: 21px 0px;
}
.pricing_list:first-child {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}

.pricing_list:not(:first-child):not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
}

.pricing_list:last-child {
    border-bottom: 1px solid #d6d6d6;
}

.partner {
    width: 300px;
    height: 234px;
    border: 1px solid #4e5683;
    color: #091242;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative; /* Add this */
}

.partner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Adjust to your needs */
    transition: background 0.5s; /* Add this for the transition effect */
    z-index: -1; /* Send it to the background */
}

.partner:hover::before {
    background-image: var(--img); /* Change the background image on hover */
}

.partner:hover {
    color: white;
    transition: all 0.5s; /* Add this for other style transitions on hover */
}

.partner:first-child {
    border-right: none;
}

.partner:not(:first-child):not(:last-child) {
    border-right: none;
}
